.setting {

  .content {
    position: absolute;
    top: .53rem;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
    background-color: #eeeff0;
    z-index: 5;
    .setting-box {
      padding: 0 10px;
      margin-top: 10px;
      background-color: #fff;
      .setting-item {
        height: 30px;
        line-height: 30px;
        p {
          display: inline;
          font-size: 12px;
        }
        span {
          font-size: 10px;
          color: #ccc;
          float: right;
          margin-right: 5px;
        }
      }
    }
    .setting-title {
      font-size: 8px;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}