.online {

  .content {
    position: absolute;
    top: .53rem;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
    background-color: #eeeff0;
    z-index: 5;
    text-align: center;

    .online-pic {
      width: 100%;
      height: 100px;
      background-color: blueviolet;
    }
    .online-span {
      display: block;
      margin-top: .3rem;
      margin-left: 5%;
      text-align: left;
      font-size: .16rem;
      color: #000
    }
    .online-phone {
      margin-top: .1rem;
      margin-left: 5%;
      width: 90%;
      height: .5rem;
      line-height: .5rem;
      border: .01rem solid #b5b5b6;
      border-radius: .3rem;
      background-color: #fff;
      text-align: left;
      i.iconfont {
        font-size: 36px;
        margin-left: 10px;
        float: left;
        color: red;
      }
      p {
        display: inline;
        font-size: .14rem;
        margin-left: .3rem;
        float: left;

        b {
          font-size: .12rem;
          font-weight: normal;
          white-space: nowrap;
        }
      }
      img {
        margin: 4.6% 2%;
        float: right;
        height: 30%;
        width: 5%;
      }
    }
    .small-footer {
      font-size: .14rem;
      color: #c3c3c3;
      float: left;
      margin-top: .2rem;
      margin-left: 30%;
    }
  }
}