.light {
  width: .52rem;
  height: .32rem;
}

.switch {
  -webkit-appearance: none;
  width: 52px;
  border: 1px solid #dfdfdf;
  border-radius: 30px;
  height: 32px;
  position: absolute;
  outline: none;
  transition: all .2s linear;
  right: .05rem;
  bottom: -.1rem;
}

.switch:checked {
  box-shadow: lightgreen 0 0 16px 16px inset;
  transition: all .2s linear;
}

.switch:before {
  content: '';
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 #dfdfdf;
  background: #fff;
  transition: all .2s linear;
}

.switch:checked:before {
  left: 20px;
  transition: all .2s linear;
}