
.FM_top {

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.FM_bottom {
  width: 100%;
  margin-top: .15rem;
  background: #fbfcfd;

  .bot-top {
    width: 100%;
    height: .53rem;
    line-height: .53rem;
    text-align: center;
    font-size: .16rem;
    color: #303030;
  }
  .FMlist_con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      flex: 1 1 3%;
      font-size: .14rem;
      text-align: center;

      img {
        width: 1.2rem;
      }
    }
  }
}