
.bigBox {
  width: 100%;
}

.content {
  .list-top {
    width: 100%;
    height: .8rem;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #cccccc;

    .imgBox {
      margin-top: .05rem;
      margin-left: .1rem;
      float: left;
      width: .7rem;
      height: .7rem;
      background: black;
    }
    img {
      display: block;
      width: .5rem;
      height: .5rem;
      margin: .1rem;
    }
    span {
      display: block;
      width: 1.6rem;
      height: 100%;
      line-height: .8rem;
      font-size: .18rem;
      margin-left: .7rem;
      color: black;
    }
    p {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: .5rem;
      height: 100%;
      line-height: .8rem;
      font-size: .16rem;
      .musicdetail {
        position: absolute;
        top: .31rem;
        right: 0;
        display: block;
        background: url("../../images/arrow.png") no-repeat;
        width: .2rem;
        height: .2rem;
        background-size: cover;
      }
    }
  }

  .late_musicList {
    width: 100%;
    padding: 0;
    margin: 0;

    .listItem {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      height: .6rem;
      border-bottom: .01rem solid #cccccc;

      p {
        height: 100%;
        width: 3.3rem;
        line-height: .3rem;
        margin: 0;
        font-size: .16rem;
        float: left;
        text-indent: .1rem;

        span {
          display: block;
          width: 100%;
          font-size: .12rem;
          color: gray;
          padding-left: .3rem;
          position: relative;

          .sq {
            display: block;
            position: absolute;
            top: .07rem;
            left: .1rem;
            width: .24rem;
            height: .18rem;
            background: url("../../images/index_icon_2x.png") no-repeat center;
            background-position: 0 0;
          }
        }
      }

      .more {

      }
    }
  }
}