html, body {
  font-size: 100px;
}

html, body, .play_container {
  height: 100%;
  overflow: hidden;
}

html, body {
  font-size: 100px;
}

html, body, .play_container {
  height: 100%;
  overflow: hidden;
}

.play_container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
}

.play_container .backgroundImg {
  background: url("./login.jpg") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.playerHeader {
  width: 100%;
  height: .53rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 .1rem;
  border-bottom: .01rem solid rgb(111, 110, 105);
}

.playerHeader .play_title {
  display: block;
  font-size: .16rem;
  width: 75%;
  height: .29rem;
  line-height: .2rem;
  letter-spacing: .02rem;
  color: #fff;
  margin: .1rem 0 0;
}

.play_title .art {
  font-size: .16rem;
}

.play_title .name {
  font-size: .12rem;
}

.playerHeader .pic1, .playerHeader .pic2 {
  margin-top: .12rem;
  display: block;
  width: 8%;
  height: .3rem;
}

.back {
  padding-left: 0.2rem;
  display: inline-block;
  float: left;
  font-size: .2rem;
}

.share {
  padding-right: 0.15rem;
  display: inline-block;
  float: right;
  font-size: .2rem;
}

.title {
  display: inline-block;
  font-size: .2rem;
  margin: 0.1rem auto;
  width: 2rem;
  position: absolute;
  left: 0.9rem;
}

.title p:nth-child(1) {
  margin-top: -0.15rem;
  margin-bottom: 0.6em;
  text-align: center;
  font-size: 0.18rem;
}

.title p:nth-child(2) {
  margin-top: -0.15rem;
  margin-bottom: 0.6em;
  text-align: center;
  font-size: 0.09rem;
}

.musicBody {

  overflow: hidden;
}

.player {
  display: block;
  height: 5.3rem;
  overflow: hidden;
  position: relative;

}

.player > div:nth-child(1) img {
  width: 30%;
  height: 30%;
  position: absolute;
  margin: 0 auto;
  top: -0.18rem;
  left: 1.65rem;
  z-index: 5;

}

.play {
  transform: rotate(10deg);
  transform-origin: .2rem .2rem;
  transition: 0.4s;
}

.init {
  transform: rotate(-20deg);
  transform-origin: .2rem .2rem;
  transition: 0.4s;
}

.player > div:nth-child(2) {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0.4rem;

}

.player > div:nth-child(2) img {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}

.player > div:nth-child(3) img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: 1.5rem;
  left: 0.9rem;
}

.playRotate {
  animation: roate 8s infinite linear;
}

.playRotateT {
  animation: roate 8s infinite linear;
  animation-play-state: paused;
}

.player-fun {
  display: block;
  position: absolute;
  top: 3.8rem;
  left: .6rem;
}

.player-fun img {
  width: 20%;
}

.player-fun .loveRed {
  position: absolute;
  top: .6rem;
  left: 0;
  display: none;
}

.addMusic {
  display: none;
  position: absolute;
  top: 2rem;
  left: .99rem;
  width: 1.8rem;
  height: 1rem;
  border-radius: 0.1rem;
  background: rgba(0, 0, 0, 0.6);
}

.addMusic img {
  height: 70%;
  margin-top: -1rem;
  margin-left: 0.47rem;
}

.addMusic .addtext {
  font-size: .12rem;
  position: absolute;
  left: .27rem;
  top: .65rem;

}

.delMusic {
  display: none;
  position: absolute;
  top: 2.34rem;
  left: 1.33rem;
  width: 1.2rem;
  height: 0.4rem;
  border-radius: 0.1rem;
  background: rgba(0, 0, 0, 0.6);
}

.delMusic .deltext {
  font-size: .12rem;
  position: absolute;
  left: 0.3rem;
  top: .1rem;
}

.progress {
  position: relative;
  top: -0.2rem;
  left: 0;
  height: .76rem;
  overflow: hidden;
}

.progress span {
  position: absolute;
  top: -0.36rem;
  width: .9rem;
  height: 100%;
  line-height: .8rem;
  text-align: center;
  color: rgba(255, 255, 255, .5);
  font-size: .15rem;
}

.progress span.current {
  left: 0;
}

.progress span.duration {
  right: 0;
}

.progress .proBg {
  position: relative;
  margin: .04rem .9rem 0 .9rem;
  height: .04rem;
  background: rgba(255, 255, 255, .5);
}

.progress .proBg .already {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #31C27C;
  -webkit-transition: .3s;
  transition: .3s;
}

.foot {
  position: relative;
}

.control {
  position: absolute;
  top: -0.55rem;
  left: 0;
}

.control span img {
  width: 20%;
  height: 20%;

}

.lyric {
  display: none;
  height: 5.3rem;
  overflow: hidden;
  position: relative;

}

.main {
  position: relative;
  margin: 0 .2rem;
  height: 4.5rem;
  overflow: hidden;
}

.main .wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.main .wrapper p {
  height: .3rem;
  line-height: .16rem;
  text-align: center;
  color: rgba(255, 255, 255, .5);
  font-size: .16rem;
  letter-spacing: .03rem;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main .wrapper p.select {
  color: #31C27C;
  -webkit-transition: .3s;
  transition: .3s;
}

.volume {
  position: relative;
  height: .56rem;
  padding-top: 0.2rem;
  overflow: hidden;
}

.volume span {
  position: absolute;
  top: -0.35rem;
  width: .9rem;
  height: 100%;
  line-height: .8rem;
  text-align: center;
  color: rgba(255, 255, 255, .5);
  font-size: .15rem;
}

.volume span.current {
  top: -0.15rem;
  left: 0;
}

.volume span.duration {
  top: -0.15rem;
  right: 0;
}

.volume .proBg {
  position: relative;
  margin: .04rem .9rem 0 .9rem;
  height: .04rem;
  background: rgba(255, 255, 255, .5);
}

.volume .proBg .already {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1rem;
  background: #31C27C;
  -webkit-transition: .3s;
  transition: .3s;
}

@keyframes roate {

  0% {
    transform: rotateZ(0)
  }
  100% {
    transform: rotateZ(360deg)
  }
}

.playMore {
  display: none;
  width: 100%;
  height: 4rem;
  background: rgba(159, 159, 159, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.moreBtn {
  height: .5rem;
  clear: both;
  border-bottom: 1px solid #404040;
}

.playMore span p {
  color: black;
  margin-top: .15rem;
  font-size: 0.16rem;
}

.playMore {
  width: 100%;
  height: 4rem;
  background: rgba(159, 159, 159, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.moreBtn {
  height: .5rem;
  clear: both;
  border-bottom: 1px solid #404040;
}

.playMore span p {
  color: black;
  margin-top: .15rem;
  font-size: 0.16rem;
}

.playMore span {
  float: left;
}

.playMore span:nth-child(3) {
  float: right;
  margin-right: 30%;
}

.playMore span:nth-child(2) {
  float: right;
}

.playerList li {
  height: 0.3rem;
  border-bottom: 1px solid #404040;
}

.playerList li p {
  color: black;
  font-size: 0.2rem;
  margin-top: 0.05rem;
}

.playerListClose {
  position: fixed;
  width: 3.75rem;
  height: .5rem;
  bottom: 0;
  left: 0;
  border-top: 1px solid #404040;
}

.playMore span {
  float: left;
}

.playMore span:nth-child(3) {
  float: right;
  margin-right: 30%;
}

.playMore span:nth-child(2) {
  float: right;
}

.playerList li {
  height: 0.3rem;
  border-bottom: 1px solid #404040;
}

.playerList li p {
  color: black;
  font-size: 0.2rem;
  margin-top: 0.05rem;
}

.playerListClose {
  position: fixed;
  width: 3.75rem;
  height: .5rem;
  bottom: 0;
  left: 1.76rem;
  border-top: 1px solid #404040;
}

.playerListClose p {
  font-size: .2rem;
  text-align: center;
  margin-top: 0.1rem;
}

.suspend {
  display: none;
  position: absolute;
  top: 0;
  left: 1.5rem;
}

.control .suspend .suspendMusic {
  width: 35%;
  height: 35%;
}
